Chapter07/rest-chapter7-service-doctools/rest-chapter7-raml2jaxrs/src/main/resources/raml/schemas/department.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Department" type="Department"/>
 
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element name="departmentId" type="xs:short"/>
      <xs:element name="departmentName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

